{
    "plugins": ["prettier-plugin-blade", "@prettier/plugin-php", "prettier-plugin-tailwindcss"],
    "tailwindStylesheet": "./resources/css/app.css",
    "tailwindFunctions": ["clsx", "cn", "tw"],
    "printWidth": 150,
    "overrides": [
        {
            "files": ["*.blade.php"],
            "options": {
                "parser": "blade"
            }
        }
    ]
}
